<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{config.url}}/style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>
<div class="admin">
    <div class="banner">
        <div class="botaoLoja">
            <a class="btn" href="{{config.url}}">Loja</a>
        </div>
        <div class="imgLogo">
            <a href="{{config.url}}"><img src="{{config.url}}/img/logo.png" alt="logo"></a>
        </div>
        <div class="botaoLogout">
            <a class="btn" href="{{config.url}}/home/logout">Sair</a>
        </div>
    </div>

    <div class="corpoAdmin">
        <div class="opcoes">
            <div class="opcao">
                <div class="title">
                <h1 class="PrimeiraOpcao">Geral</h1>
                <hr>
                </div>
            </div>

            <div class="opcao">
                <div class="title">
                <h1>Pedidos</h1>
                <hr>              
                </div>  
            </div>

            <div class="opcao">
                <div class="title">
                <h1>Estoque</h1>
                <hr>
                </div>  
            </div>

            <div class="opcao">
                <div class="title">
                <h1>Categorias</h1>
                <hr>
                </div>  
            </div>

            <div class="opcao">
                <div class="title">
                <h1>Clientes</h1>
                <hr>
                </div>  
            </div>

        </div>
        
        <div class="conteudo">
            
        <!--GERAL-->
        <div class="text">
            <div class="topoGeral">
                <div class="caixa faturamentoGeral">
                    <h1>Faturamento</h1>
                    <h2>R$13.582,23</h2>
                    <h3>*Ultimos 30 dias</h3>
                </div>
                <div class="caixa pedidosEnviadosGeral">
                    <h1>Pedidos Enviados</h1>
                    <h2>35 Pedidos</h2>
                    <h3>*Ultimos 30 dias</h3>
                </div>
                <div class="caixa estoqueGeral">
                    <h1>Estoque</h1>
                    <h2>182 Produtos</h2>                 
                </div>
            </div>
            <div class="corpoGeral">
                <div class="caixa maisVendidos">
                    <h1>Mais Vendidos</h1>
                    <table border="1" class="bordered responsive-table responsive-table">
                        <tr>
                            <th>A</th>
                            <th>A</th>
                        </tr>
                        <tr>
                            <td>B</td>
                            <td>B</td>
                        </tr>
                    </table>
                </div>
                <div class="caixa indiceVendas">    
                    <div class="maisVendidos">
                    <h1>Mais Vendidos</h1>
                    <table border="1" class="bordered responsive-table">
                        <tr>
                            <th>A</th>
                            <th>A</th>
                        </tr>
                        <tr>
                            <td>B</td>
                            <td>B</td>
                        </tr>
                    </table>
                </div>             
                </div>
                
            </div>
        </div>
        <!--PEDIDOS-->
        <div class="text">        
            <div class="tituloConteudo">
            <h2>Pedidos</h2>
            </div>
            <div class="corpoPedidos">
             <div class="tabelaPedidos">
            <table border="1" class="bordered responsive-table">
                <tr>
                    <th>id Cliente</th>
                    <th>Metodo de Pagamento</th>
                    <th>Codigo da transacao</th>
                    <th>Status</th>
                    <th>Link do Boleto</th>
                    <th>Link Debito</th>
                    <th>Data</th>
                    <th>Editar</th>
                    <th>Deletar</th>
                    <th></th>
                </tr>
                {% for transacao in  transacoes %}
                <tr>
                    <td>{{transacao.idCliente}}</td> 
                    <td>{{transacao.tipoPagamento}}</td> 
                    <td>{{transacao.codigoTransacao}}</td>
                    <td>{{transacao.status}}</td>
                    <td>{{transacao.linkBoleto}}</td>    
                    <td>{{transacao.linkDebito}}</td>    
                    <td>{{transacao.data}}</td>    
                    <td><a class="waves-effect waves-light btn modal-trigger" href="#{{produto.id}}">Editar</a></td>
                    <td><a class="waves-effect waves-light btn modal-trigger" href="#deletar{{produto.id}}">Deletar</a></td>
                </tr>
                {% endfor %}
            </table>
            </div>   
            </div>         
        </div>
    
        <!--Produtos-->
        <div class="text">
            <div class="estoque">
            <div class="tituloConteudo">
            <h2>Produtos</h2>
            </div>
            <table border="1" class="bordered responsive-table">
                <tr>
                    <th>Produto</th>
                    <th class="testeee">Descriçao</th>
                    <th>Valor</th>
                    <th>Quantidade</th>
                    <th>Categoria</th>
                    <th>Editar</th>
                    <th>Deletar</th>
                    <th></th>
                </tr>
                {% for produto in produtos %}
                <tr>
                    <td>{{produto.nome}}</td> 
                    <td>{{produto.descricao}}</td> 
                    <td>R${{produto.preco}}</td>
                    <td>{{produto.quantidade}}unidades</td>
                    <td>{{produto.categoria}}</td>    
                    <td><a class="waves-effect waves-light btn modal-trigger" href="#{{produto.id}}">Editar</a></td>
                    <td><a class="waves-effect waves-light btn modal-trigger" href="#deletar{{produto.id}}">Deletar</a></td>
                </tr>
                {% endfor %}
            </table>
            <!-- Modal Editar Produto-->
            {% for produto in produtos %}
            <div id="{{produto.id}}" class="modal">
                <div class="modal-content">
                    <h4>Editar Produto</h4>
                    <form action="{{config.url}}/admin/atualizaProduto" enctype="multipart/form-data" method="POST">
                        <div class="campoEditar">
                        <h2>Nome: </h2>
                        <input type="text" required value="{{produto.nome}}" name="nome">
                        </div>  
                        <div class="campoEditar">
                        <h2>Descriçao: </h2>
                        <input type="text" required value="{{produto.descricao}}" name="descricao">
                        </div>
                        <div class="campoEditar">
                        <h2>Preço: </h2>
                        <input type="text" required value="{{produto.preco}}" name="preco">
                        </div>
                        <div class="campoEditar">
                        <h2>Quantidade: </h2>
                        <input type="text" required value="{{produto.quantidade}}" name="quantidade">
                        </div>
                        <div class="campoEditar">
                        <h2>Categoria: </h2>
                        <input type="text" required value="{{produto.categoria}}" name="categoria">
                        </div>                      
                        <div class="campoEditar">
                        <h2>largura: </h2>
                        <input type="number" required value="{{produto.largura}}" name="largura">
                        </div>
                        <div class="campoEditar">
                        <h2>altura: </h2>
                        <input type="number" required value="{{produto.altura}}" name="altura">
                        </div>
                        <div class="campoEditar">
                        <h2>comprimento: </h2>
                        <input type="number" required value="{{produto.comprimento}}" name="comprimento">
                        </div><div class="campoEditar">
                        <h2>Peso: </h2>
                        <input type="number" required value="{{produto.peso}}" name="peso">
                        </div>
                        <div class="campoEditar">
                        <h2>Imagem: </h2>
                        <input type="file" required name="arquivo">
                        </div>
                        <input type="hidden" value="{{produto.id}}" name="id">

                        <input class="btn" type="submit" name="editarProduto" value="Editar Produto">
                      
                  </form>

                </div>
                <div class="modal-footer">
                  <a href="#!" class="modal-action modal-close waves-effect waves-green btn">Voltar</a>
                </div>
              </div>
            {% endfor %}
            </div>
            <!--MODAL Deletar Produto-->
            {% for produto in produtos %}
            <div id="deletar{{produto.id}}" class="modal">
                <div class="modal-content">
                  <h4>Deletar Produto</h4>
                  <h2>Voce tem certeza que deseja deletar esse produto?</h2>
                  <a href="{{config.url}}/admin/deletarProduto/{{produto.id}}" class="waves-green btn">Sim(Deletar)</a>
                  <a href="#!" class="modal-action modal-close waves-effect waves-green btn">Cancelar</a>

                </div>
                  <a href="#!" class="modal-action modal-close waves-effect waves-green btn">Voltar</a>
              </div>
            {% endfor %}

            <!--BOTAO ADIONAR PRODUTO-->
            <a class="waves-effect waves-light btn modal-trigger" href="#adicionarProduto">Adicionar Produto</a>
            <!--MODAL ADIONAR PRODUTO-->
            <div id="adicionarProduto" class="modal">
                <div class="modal-content">
                  <h4>Adicionar Produto</h4>
                  <form action="{{config.url}}/admin/adicionaProduto" enctype="multipart/form-data" method="POST">
                    <div class="campoEditar">
                    <h2>Nome: </h2>
                    <input type="text" required  name="nome">
                    </div>  
                    <div class="campoEditar">
                    <h2>Descriçao: </h2>
                    <input type="text" required  name="descricao">
                    </div>
                    <div class="campoEditar">
                    <h2>Preço: </h2>
                    <input type="text" required  name="preco">
                    </div>
                    <div class="campoEditar">
                    <h2>Quantidade: </h2>
                    <input type="text" required  name="quantidade">
                    </div>
                    <div class="campoEditar">
                    <h2>Categoria: </h2>
                    <input type="text" required name="categoria">
                    </div>                  
                    <div class="campoEditar">
                    <h2>largura: </h2>
                    <input type="number" required name="largura">
                    </div>
                    <div class="campoEditar">
                    <h2>altura: </h2>
                    <input type="number" required name="altura">
                    </div>
                    <div class="campoEditar">
                    <h2>comprimento: </h2>
                    <input type="number" required name="comprimento">
                    </div><div class="campoEditar">
                    <h2>Peso: </h2>
                    <input type="number" required name="peso">
                    </div>
                    <div class="campoEditar">
                    <h2>Imagem: </h2>
                    <input type="file" required name="arquivo">
                    </div>

                    <input class="btn" type="submit" name="criarProduto" value="Criar Produto">
                    
                </form>
                </div>
                  <a href="#!" class="modal-action modal-close waves-effect waves-green btn">Voltar</a>
              </div>
        </div>

        <!--CATEGORIAS-->
        <div class="text">
                <h2>Categorias</h2>
                <table border="1" class="bordered responsive-table">                   
                    <tr>
                        <th>Categoria</th>
                        <th>Editar</th>
                        <th>Deletar</th>
                    </tr>
                    {% for categoria in categorias %}
                    <tr>
                        <td>{{categoria.categoria}}</td>
                        <td><a class="waves-effect waves-light btn modal-trigger" href="#editar/{{categoria.id}}">Editar</a></td>
                        <td><a class="waves-effect waves-light btn modal-trigger" href="#deletarCat/{{categoria.id}}">Deletar</a></td>
                    </tr>
                    {% endfor %}
                </table>

                <!-- Modal Editar Categoria-->
            {% for categoria in categorias %}
            <div id="editar/{{categoria.id}}" class="modal">
                <div class="modal-content">
                  <h4>Editar categoria</h4>
                  <form action="{{config.url}}/admin/atualizaCategoria" enctype="multipart/form-data" method="POST">
                      <div class="campoEditar">
                      <h2>Nome: </h2>
                      <input type="text" required value="{{categoria.categoria}}" name="categoria">
                      </div>  
                      <input type="hidden" value="{{categoria.id}}" name="id">
                      <input type="hidden" value="{{categoria.categoria}}" name="nomeAtual">
                    
                      <button class="btn" type="submit" name="editarcategoria" value="Editar categoria">Editar</button>
                      <a class="modal-action modal-close waves-effect btn">ddd</a>                 
                  </form>
                </div>       
              </div>
            {% endfor %}

                <!--MODAL Deletar Categoria-->
                {% for categoria in categorias %}
                <div id="deletarCat/{{categoria.id}}" class="modal">
                    <div class="modal-content">
                      <h4>Deletar Produto</h4>
                      <h2>Voce tem certeza que deseja deletar esse produto?</h2>
                      <form action="{{config.url}}/admin/deletarCategoria/{{categoria.id}}" method="POST">
                      <input type="hidden" value="{{categoria.categoria}}" name="categoria">
                      <button class="btn" type="submit" name="editarcategoria">Deletar</button>
                      <a class="modal-action modal-close waves-effect btn">Cancelar</a>
                      </form>
                    </div>                 
                  </div>
                {% endfor %}

            <!--BOTAO CRIAR CATEGORIA-->
            <a class="waves-effect waves-light btn modal-trigger" href="#adicionarCategoria">Adicionar Categoria</a>
            <!--MODAL CRIAR CATEGORIA-->
            <div id="adicionarCategoria" class="modal">
                <div class="modal-content">
                  <h4>Adicionar Categoria</h4>
                  <form action="{{config.url}}/admin/criarCategoria" enctype="multipart/form-data" method="POST">
                    <div class="campoEditar">
                    <h2>Nome: </h2>
                    <input type="text" required  name="categoria">
                    </div>  
                    <input class="btn" type="submit" name="criarcategoria" value="Criar categoria">          
                </form>
                </div>
                  <a href="#!" class="modal-action modal-close waves-effect waves-green btn">Voltar</a>
              </div>
               
        </div>
        <!--CLIENTES-->
        <div class="text">
            <div class="conteudo">
            <div class="tituloConteudo">
                <h2>CLIENTES</h2>
            </div>
            </div>

                
        </div>
                
            
        </div>

    </div>

</div>

<footer class="footer">
    <div class="rodape">
        <div class="rodape-email">
          <h2>carnivorapalmas@gmail.com</h2>
        </div>
        <div class="rodape-waths">
          <h2>carnivorapalmas@gmail.com</h2>
        </div>
        <div class="rodape-cnpj">
          <h2>carnivorapalmas@gmail.com</h2>
        </div>

    </div>

</footer>

<!--MENSAGENS-->
{% if msg != '' %}
<div id="msg" value='true' data='{{msg.msg}}'></div>
{% else %}
<div id="msg" value='false'></div>
{% endif %}


</body>
<!--JQUERY-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!--MATERIALIZE JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.js"></script>         
<!--JAVASCRIPT-->
<script src="{{config.url}}/js/script.js"></script>      





</html>

