<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" conteudoAba="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{config.url}}/style/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    </head>

    <header>
<!--BANNER-->
<div class="banner">
    <div class="img-banner">
        <a href="{{config.url}}"><img src="{{config.url}}/img/logo.png" alt="logo"></a>
    </div>
   
    <div class="usuarios">
        <div class="usuario">
            {% if user == '' %}
            <span class="material-icons">account_circle</span>
            <h2><a class="modal-trigger" href="#modalLogin">Logar</a> ou <a class="modal-trigger" href="#modalCadastro">Cadastrar</a></h2>
            {% else %}
            <h2>Bem Vindo! {{user.user}}</h2>
            <a href="{{config.url}}/home/logout">Logout</a> 
            {% endif %}
        </div>
    </div>
    </div>
</header>
<body>
<!--CORPO CARRINHO-->
<div class="corpoCarrinho">
    <div class="topo">
        <h2>Carrinho:</h2>
        <a href="{{config.url}}/" class="btn">Voltar</a>
    </div>
    <!--PRODUTOS-->
    <div class="produtosCarrinho">
        <div class="detalhesProdutos">
            <div>Produto</div>
            <div>Preço</div>
            <div>Quantidade</div>
            <div>SubTotal</div>
            <div>Deletar</div>
        </div>
        <hr>
        <!--CARRINHO VAZIO-->
        {% if produtos == '' %}
        <div class="ProdutoCarrinho">
            <div>-</div>
            <div>-</div>
            <div>-</div>
            <div>-</div>
            <div>-</div>
        </div>
        <hr>
        <!--CARRINHO !VAZIO-->
        {% else %}
        {% for produto in produtos %}
        <div class="ProdutoCarrinho">
            <div><img src="{{config.url}}/img/{{produto.img}}" alt="produto">{{produto.produto}}</div>
            <div>{{produto.preco}}</div>
            <div>{{produto.qntCarrinho}}</div>
            <div>{{produto.subTotal}}</div>
            <form action="{{config.url}}/carrinho/deletarProdutoCarrinho/" method="POST">
            <div><button class="btn">X</button></div>
            <input type="hidden" name="posicaoProduto" value="{{produto.posicao}}">
            <input type="hidden" name="carrinhoId" value="{{produto.carrinhoId}}">        
            <input type="hidden" name="carrinhoId" value="{{produto.volume}}">        
            <input type="hidden" name="carrinhoId" value="{{produto.peso}}">        
            </form>
            
        </div>
        <hr>
        {% endfor %}
        {% endif %}
    
    </div>
    <!--FORMULARIO DO PEDIDO-->
    <form name="formPagamento" action="" id="formPagamento">
    <!--INFORMAÇOES DO PEDIDO-->
    <input type="hidden" name="paymentMethod" id="paymentMethod">    
    <input type="hidden" name="currency" id="currency" value="{{config.moedaPagamento}}">    
    <input type="hidden" name="extraAmount" id="extraAmount" value="">  
    <input type="hidden" name="itemId1" id="itemId1" value="0001">    
    <input type="hidden" name="itemDescription1" id="itemDescription1" value="Curso de PHP Orientado a Objetos">    
    <input type="hidden" name="itemAmount1" id="itemAmount1" value="600.00">    
    <input type="hidden" name="itemQuantity1" id="itemQuantity1" value="1">    
    <input type="hidden" name="notificationURL" id="notificationURL" value="{{config.urlNotificacao}}">   
    <input type="hidden" name="reference" id="reference" value="1001">
    <input type="hidden" name="amount" id="amount" value="600.00">
    <input type="hidden" name="noIntInstalQuantity" id="noIntInstalQuantity" value="2">
    <!--FRETE-->
    <div class="detalhesPedido">
    <div class="box">       
        <button type="button" class="collapsible"><h2>Calcular Frete</h2></button>
        
        <div class="conteudoAba">
        <div class="busca">         
            <form action="" method="POST">
                <input type="number" name="pesquisa" value="Pesquisar..." id="pesquisa" autocomplete="off">
                <button><span class="material-icons">search</span></button>
            </form>
            
            <div class="results"></div>
            <label>Frete</label>
            <input type="radio" name="shippingType" value="1"> PAC
            <input type="radio" name="shippingType" value="2"> SEDEX
            <input type="radio" name="shippingType" value="3" checked> Sem frete<br><br>

            <label>Valor Frete</label>
            <input type="text" name="shippingCost" id="senderCPF" placeholder="Preço do frete. Ex: 2.10"><br><br> 
        </div>
        </div>
    </div>
    <!--ENDEREÇO ENTREGA-->
    <div class="box">  
        <button type="button" class="collapsible"><h2>Endereço De Entrega</h2></button>
    <div class="conteudoAba">
    <h2>Endereço de Entrega</h2>
    <input type="hidden" name="shippingAddressRequired" id="shippingAddressRequired" value="true">
    <label>Logradouro</label>
    <input type="text" name="shippingAddressStreet" id="shippingAddressStreet" placeholder="Av. Rua" value="Av. Brig. Faria Lima"><br><br>
    <label>Número</label>
    <input type="text" name="shippingAddressNumber" id="shippingAddressNumber" placeholder="Número" value="1384"><br><br>
    <label>Complemento</label>
    <input type="text" name="shippingAddressComplement" id="shippingAddressComplement" placeholder="Complemento" value="5o andar"><br><br>
    <label>Bairro</label>
    <input type="text" name="shippingAddressDistrict" id="shippingAddressDistrict" placeholder="Bairro" value="Jardim Paulistano"><br><br>
    <label>CEP</label>
    <input type="text" name="shippingAddressPostalCode" id="shippingAddressPostalCode" placeholder="CEP sem traço" value="01452002"><br><br>
    <label>Cidade</label>
    <input type="text" name="shippingAddressCity" id="shippingAddressCity" placeholder="Cidade" value="Sao Paulo"><br><br>
    <label>Estado</label>
    <input type="text" name="shippingAddressState" id="shippingAddressState" placeholder="Sigla do Estado" value="SP"><br><br>
    <input type="hidden" name="shippingAddressCountry" id="shippingAddressCountry" value="BRL">
    </div>
    </div>
    
    <!--FORMA DE PAGAMENTO-->
    <div class="box">
        <button type="button" class="collapsible"><h2>Forma de Pagamento</h2></button>
    <div class="conteudoAba" id="tabsPag">
        <ul class="tabs">
            <li class="tab" id="boleto"><a class="active" href="#boletoPag">BOLETO</a></li>
            <li class="tab" id="creditCard"><a href="#creditoPag">CREDITO</a></li>
            <li class="tab" id="eft"><a href="#debitoPag">DEBITO</a></li>
        </ul>
        <!--BOLETO-->
        <div id="boletoPag" >Test 1      
        </div>
        <!--DEBITO ONLINE-->
        <div id="debitoPag" >          
            <div class="bankName">
                <label class="bankName">Banco</label>
                <select name="bankName" id="bankName">
                </select>
            </div>
            <label>Bandeiras</label>
            <div class="meiosPagamento">
                <div class="meioPagDeb"></div>
            </div>
            
        </div>
        <!--CREDITO-->
        <div id="creditoPag">
            <h2>Dados do Cartão</h2>
            <label>Número do cartão</label>
            <input type="text" name="numCartao" id="numCartao" required value="4111111111111111"> 
            <span class="bandeira-cartao"></span><br><br>    
            <label>CVV do cartão</label>
            <input type="text" name="cvvCartao" id="cvvCartao" maxlength="3" value="123" required><br><br>    
            <input type="hidden" name="bandeiraCartao" id="bandeiraCartao">    
            <label>Mês de Validade</label>
            <input type="text" name="mesValidade" id="mesValidade" maxlength="2" value="12" required><br><br>    
            <label>Ano de Validade</label>
            <input type="text" name="anoValidade" id="anoValidade" maxlength="4" value="2030" required><br><br>    
            <label>Quantidades de Parcelas</label>
            <select name="qntParcelas" id="qntParcelas" class="form-control select-qnt-parcelas creditCard">

            </select><br><br>   
            <input type="hidden" name="valorParcelas" id="valorParcelas">   
            <label>CPF do dono do Cartão</label>
            <input type="text" name="creditCardHolderCPF" id="creditCardHolderCPF" placeholder="CPF sem traço" value="22111944785" required><br><br>    
            <label>Nome no Cartão</label>
            <input type="text" name="creditCardHolderName" id="creditCardHolderName" placeholder="Nome igual ao escrito no cartão" value="Jose Comprador" required><br><br>    
            <input type="hidden" name="tokenCartao" id="tokenCartao">    
            <input type="hidden" name="hashCartao" id="hashCartao">
            <!--ENDEREÇO DO DONO DO CARTAO-->
            <h2>Endereço do dono do cartão</h2>    
            <label>Logradouro</label>
            <input type="text" name="billingAddressStreet" id="billingAddressStreet" placeholder="Av. Rua" value="Av. Brig. Faria Lima" required><br><br>    
            <label>Número</label>
            <input type="text" name="billingAddressNumber" id="billingAddressNumber" placeholder="Número" value="1384" required><br><br>    
            <label>Complemento</label>
            <input type="text" name="billingAddressComplement" id="billingAddressComplement" placeholder="Complemento" value="5o andar"><br><br>    
            <label>Bairro</label>
            <input type="text" name="billingAddressDistrict" id="billingAddressDistrict" placeholder="Bairro" value="Jardim Paulistano"><br><br>    
            <label>CEP</label>
            <input type="text" name="billingAddressPostalCode" id="billingAddressPostalCode" placeholder="CEP sem traço" value="01452002" required><br><br>    
            <label>Cidade</label>
            <input type="text" name="billingAddressCity" id="billingAddressCity" placeholder="Cidade" value="Sao Paulo" required><br><br>    
            <label>Estado</label>
            <select name="billingAddressState" class="custom-select d-block w-100 creditCard" id="billingAddressState">
                <option value="">Selecione</option>
                <option value="AC">AC</option>
                <option value="AL">AL</option>
                <option value="AP">AP</option>
                <option value="AM">AM</option>
                <option value="BA">BA</option>
                <option value="CE">CE</option>
                <option value="DF">DF</option>
                <option value="ES">ES</option>
                <option value="GO">GO</option>
                <option value="MA">MA</option>
                <option value="MT">MT</option>
                <option value="MS">MS</option>
                <option value="MG">MG</option>
                <option value="PA">PA</option>
                <option value="PB">PB</option>
                <option value="PR">PR</option>
                <option value="PE">PE</option>
                <option value="PI">PI</option>
                <option value="RJ">RJ</option>
                <option value="RN">RN</option>
                <option value="RS">RS</option>
                <option value="RO">RO</option>
                <option value="RR">RR</option>
                <option value="SC">SC</option>
                <option value="SP" selected>SP</option>
                <option value="SE">SE</option>
                <option value="TO">TO</option>
            </select>    
            <input type="hidden" name="billingAddressCountry" id="billingAddressCountry" value="BRL">
            <label>Bandeiras</label>
            <div class="meiosPagamento">
                <div class="meioPagCred"></div>
            </div>
        </div>

        <!--DADOS COMPRADOS-->
        <div class="dadosComprador">
            <label>Nome</label>
            <input type="text" name="senderName" id="senderName" placeholder="Nome completo" value="Jose Comprador" required><br><br>
            <label>Data de Nascimento</label>
            <input type="text" name="creditCardHolderBirthDate" id="creditCardHolderBirthDate" placeholder="Data de Nascimento. Ex: 12/12/1912" value="27/10/1987" required><br><br>
            <label>CPF</label>
            <input type="text" name="senderCPF" id="senderCPF" placeholder="CPF sem traço" value="22111944785" required><br><br>
            <label>Telefone</label>
            <input type="text" name="senderAreaCode" id="senderAreaCode" placeholder="DDD" value="11" required>
            <input type="text" name="senderPhone" id="senderPhone" placeholder="Somente número" value="56273440" required><br><br>
            <label>E-mail</label>
            <input type="email" name="senderEmail" id="senderEmail" placeholder="E-mail do comprador" value="c99107516189840460162@sandbox.pagseguro.com.br" required><br><br>
        </div>
            
    </div>
    </div>
            
    <!--ORÇAMENTO-->
    <div class="box">
        <h2>Orçamento</h2>
        <h1>Produtos:R${{ValorTotalProd}}</h1>
        <h1>Frete:R$0</h1>
        <h1>Total:R$0</h1>
        <input type="submit" name="btnComprar" id="btnComprar" value="Comprar" class="btn">
    </div>
    </form>
    </div>
</div>

<!--MODAIS-->
 <!--MODAL LOGIN-->
 <div id="modalLogin" class="modal">
    <div class="modal-content">
    <h4>LOGIN</h4>
    <form action="{{config.url}}/login" method="POST">
        <h2>Usuario:</h2>
        <input type="text" name="usuario" placeholder="Email ou Usuario">
        <h2>Senha:</h2>
        <input type="password" name="senha" placeholder="******">
        <button>ENTRAR</button>
    </form>
    <h2>{{msg.MsgErroLogin}}</h2>
    </div>

    <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Voltar</a>
    </div>
    </div>
    <!--MODAL CADASTRO-->
    <div id="modalCadastro" class="modal">
        <div class="modal-content">
        <h4>LOGIN</h4>
        <form action="{{config.url}}/cliente/cadastrarCliente" method="POST">
            <h2>Usuario:</h2>
            <input type="text" name="nome" placeholder="Nome de Usuario">
            <h2>Email:</h2>
            <input type="text" name="email" placeholder="Seu Email">
            <h2>Senha:</h2>
            <input type="password" name="senha" placeholder="******">
            <button>CADASTRAR</button>
        </form>
        <h2>{{msg.MsgErroLogin}}</h2>
        </div>

        <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Voltar</a>
        </div>
        </div>

</body>
<!--RODAPE-->
<footer class="footer">
    <div class="rodape">
        <div class="rodape-email">
          <h2>carnivorapalmas@gmail.com</h2>
        </div>
        <div class="rodape-waths">
          <h2>carnivorapalmas@gmail.com</h2>
        </div>
        <div class="rodape-cnpj">
          <h2>carnivorapalmas@gmail.com</h2>
        </div>
    </div>
</footer>


<!--JQUERY-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!--MATERIALIZE JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.js"></script>        
<!--JAVASCRIPT-->
<script src="{{config.url}}/js/script.js"></script>
<!--JAVASCRIPT PAGSEGURO-->
<script src="{{config.url}}/js/PagSeguro.js"></script>
<script type="text/javascript" src="{{config.scriptPagseguro}}"></script>


<!--SS-->
</html>